<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}

</head>

<body>
    <a href="#" id="buy_now_btn" class="btn btn-primary">Buy Now</a>

    <script src="https://js.stripe.com/v3/"></script>

    <script>
        var stripe = Stripe('{{ stripe_public_key }}')
        const buy_now_button = document.querySelector('#buy_now_btn')

        buy_now_button.addEventListener('click', event => {
            stripe.redirectToCheckout({
                sessionId: '{{ session_id }}'
            }).then(function (result) {

            });
        })
    </script>
</body>

</html>